@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));

  --shadow-glow: hsl(var(--foreground))

  --animate-float: float 6s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-in-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-in-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-in-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-in-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-in-out 0.8s forwards;
  --animate-trail-parallax: trailParallax var(--duration) ease-in-out infinite;
  --animate-trail-parallax-far: trailParallaxFar var(--duration) ease-in-out infinite;
  --animate-blink: blink 1.5s step-start infinite;
  --animate-loading: loading 0.8s ease infinite;

  @keyframes lineVertical {
    0% {
      transform: translateX(0);
    }
    
    20% {
      transform: translateX(50px);
    }

    40% {
      transform: translateX(-100px);
    }

    60% {
      transform: translateX(130px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes lineDiag1 {
    0% {
      transform: translateY(50px) rotate(0deg);
    }
    
    20% {
      transform: translateY(-100px) rotate(45deg);
    }

    40% {
      transform: translateY(-100px) rotate(-45deg);
    }

    60% {
      transform: translateY(160px) rotate(-20deg);
    }

    80% {
      transform: translateY(-160px) rotate(20deg);
    }

    100% {
      transform: translateY(50px) rotate(0deg);
    }
  }

  @keyframes lineDiag2 {
    0% {
      transform: translateY(-30px) rotate(0deg);
    }
    
    20% {
      transform: translateY(80px) rotate(-65deg);
    }

    40% {
      transform: translateY(80px) rotate(65deg);
    }

    60% {
      transform: translateY(-200px) rotate(-35deg);
    }

    80% {
      transform: translateY(200px) rotate(30deg);
    }

    100% {
      transform: translateY(-30px) rotate(0deg);
    }
  }

  @keyframes lineVerticalMobile {
    0% {
      transform: translateX(0);
    }
    
    20% {
      transform: translateX(30px);
    }

    40% {
      transform: translateX(-80px);
    }

    60% {
      transform: translateX(140px);
    }

    80% {
      transform: translateX(-80px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes lineDiag1Mobile {
    0% {
      transform: translateY(30px) rotate(0deg);
    }
    
    20% {
      transform: translateY(-80px) rotate(35deg);
    }

    40% {
      transform: translateY(-80px) rotate(-35deg);
    }

    60% {
      transform: translateY(160px) rotate(-20deg);
    }

    80% {
      transform: translateY(-160px) rotate(20deg);
    }

    100% {
      transform: translateY(30px) rotate(0deg);
    }
  }

  @keyframes lineDiag2Mobile {
    0% {
      transform: translateY(-20px) rotate(0deg);
    }
    
    20% {
      transform: translateY(80px) rotate(-25deg);
    }

    40% {
      transform: translateY(80px) rotate(25deg);
    }

    60% {
      transform: translateY(-160px) rotate(20deg);
    }

    80% {
      transform: translateY(160px) rotate(-20deg);
    }

    100% {
      transform: translateY(-30px) rotate(0deg);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px)
    }

    to {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes trailParallax {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    10% {
      opacity: 0.25;
    }

    20% {
      opacity: 0.45;
    }

    30% {
      opacity: 0.75;
    }

    50% {
      opacity: 1;
    }

    70% {
      opacity: 0.75;
    }

    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }

  @keyframes trailParallaxFar {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    10% {
      opacity: 0.25;
    }

    20% {
      opacity: 0.45;
    }

    30% {
      opacity: 0.75;
    }

    50% {
      opacity: 1;
    }

    70% {
      opacity: 0.75;
    }

    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }

  @keyframes blink {

    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 240 10% 4%;

    --card: 0 0% 100%;

    --primary: 0 0% 50%;
    --primary-foreground: 210 40% 98%;

    --border: 214 32% 91%;
  }

  .dark {
    --background: 222 47% 4%;
    --foreground: 240 5% 96%;

    --card: 216 18% 16%;

    --primary: 0 0% 50%;
    --primary-foreground: 213 31% 91%;

    --border: 217 33% 20%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
    height: 100%;
    width: 100%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 100%;
    width: 100%;
  }
}

@layer utilities {
  .animate-fade {
    animation: fadeIn .4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@utility line-art-container {
  width: 35vh;
  height: 70vh;
  inset: 0;
  background: hsl(var(--background));
  position: relative;
  border: 1px solid hsl(var(--foreground));

  @media (width <= 768px) {
    height: 20vh;
    width: 80vw;
    margin-bottom: 2rem
  }
}

@utility line {
  width: 200vw;
  height: 1px;
  background-color: hsl(var(--foreground));
}

@utility line-diag1 {
  animation: lineDiag1 12s cubic-bezier(.22,1.17,.78,.35) infinite;

  @media (width <= 768px) {
    animation: lineDiag1Mobile 12s cubic-bezier(.22,1.17,.78,.35) infinite;
  }
}

@utility line-diag2 {
  animation: lineDiag2 12s cubic-bezier(.22,1.17,.78,.35) infinite reverse;

  @media (width <= 768px) {
    animation: lineDiag2Mobile 12s cubic-bezier(.22,1.17,.78,.35) infinite reverse;
  }
}

@utility line-vert {
  width: 1px;
  height: 200vh;
  background-color: hsl(var(--foreground));
  animation: lineVertical 12s cubic-bezier(.22,1.17,.78,.35) infinite;

  @media (width <= 768px) {
    animation: lineVerticalMobile 12s cubic-bezier(.22,1.17,.78,.35) infinite;
  }
}

@utility html-lock {
  overflow: hidden;
  height: 100%;
}

@utility toast-container {
  margin-inline: auto;
}

@utility cta-secondary {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: hsl(var(--foreground));
  box-shadow: 1px 1px 5px hsl(var(--foreground) / 0.3);
  border: 1px solid hsl(var(--foreground));
  backdrop-filter: blur(3px);
}

@utility cta-secondary-hover {
  border-color: hsl(var(--background));
  overflow: hidden;
  background: hsl(var(--primary)/ 0.1);
}

@utility cta-secondary-active {
  transform: translateY(0);
  overflow: hidden;
}

@utility secondary-before {
  content: '';
  position: absolute;
  inset: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  border-radius: inherit;

  background: linear-gradient(90deg,
      transparent,
      hsl(var(--background) / 0.6),
      transparent);

  opacity: 0;
  transition: left 0.6s ease;
  clip-path: inset(0 round inherit);
}

@utility secondary-hover-before {
  left: 100%;
  opacity: 0.8;
  overflow: hidden;
  border-radius: inherit;
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.01] hover:shadow-lg;
  box-shadow: 1px 1px 5px hsl(var(--foreground) / 0.3);
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility button {
  @apply relative overflow-hidden px-4 py-2 text-center justify-center bg-primary text-primary-foreground font-light transition-colors duration-300;
  --btn-shadow: var(--shadow-glow);
}

@utility trail {
  @apply absolute;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

@utility trail-black {
  @apply absolute;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

@utility animate-trailParallax {
  @apply absolute;
  animation: trailParallax var(--duration, 12s) infinite;
}

@utility animate-trailParallaxFar {
  @apply absolute;
  animation: trailParallaxFar var(--duration, 12s) infinite;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}